.chromestyle
{
	font-weight: bold;
	background-image: url(/img/top_nav_bg.jpg);
	background-repeat: repeat-x;

	text-align: center;
	height:34px;
 /*	margin-bottom:4px; */
}

.chromestyle:after
{
	/*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.chromestyle ul
{
	margin: 0;
	text-align: center; /*set value to "left", "center", or "right"*/
	width: 980px;
	margin: 0 auto;
}

.chromestyle ul li
{
	display: inline;
	float: left;
	height: auto;
	width: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #454849;
	padding-top: 10px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 6px;
	font-weight: 600;
	line-height:16px;
}

.chromestyle ul li a
{
	color: #494949;
	padding: 4px 7px;
	margin: 0;
	text-decoration: none;
/*	border-right: 1px solid #DADADA; */
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected
{
	/*script dynamically adds a class of "selected" to the current active menu item*/ /*background: url(chromebg-over.gif) center center repeat-x;*/ /*THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv
{
	position: absolute;
	top: 0;
	border: 1px solid #BBB; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	line-height: 18px;
	z-index: 100;
	background-color: white;
	width: 200px;
	visibility: hidden;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #454849;
	font-weight: 600;


}


.dropmenudiv a
{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

* html .dropmenudiv a
{
	/*IE only hack*/
	width: 100%;
}

.dropmenudiv a:hover
{
	/*THEME CHANGE HERE*/
	background-color: #F0F0F0;
}
