{% for item in folder %}
  {%- set _level1_ID = _folder_ID + '-level1-' + loop.index|string -%}

  <div class="level1_heading"><a data-toggle="collapse" href="#{{ _level1_ID }}" aria-expanded="false" aria-controls="{{ _level1_ID }}">{{ item.name }}</a></div>
  <div class="collapse" id="{{ _level1_ID }}">
  {% if item.desc %}<div class="description">{{ item.desc }}</div>{% endif %}

  {% if item.level2 %}
    {% for item2 in item.level2.items() %}
      {% set _level2_ID = _level1_ID + '-level2-' + loop.index|string %}

      <div class="level2_heading"><a data-toggle="collapse" href="#{{ _level2_ID }}" aria-expanded="false" aria-controls="{{ _level2_ID }}">{{ item2.name }}</a></div>
      {% if item2.desc %}<div class="description">{{ item2.desc }}</div>{% endif %}
      <div class="collapse" id="{{ _level2_ID}}">

      {% for item3 in item2.level3 %}
        {% set _level3_ID = _level2_ID + '-level3-' + loop.index|string %}
        <div class="level3">
          <a data-toggle="collapse" href="#{{ _level3_ID }}" aria-expanded="false" aria-controls="{{ _level3_ID }}">{{ item3.name  }}</a>
          {% if item3.desc %}<div class="description">{{ item3.desc }}</div>{% endif %}
          <div class="collapse" id="{{ _level3_ID }}">
            <ul class="tracks">
              {% for track in item3.tracks %}
                <li class="track"><a class="audio_track" href="{{ track.url }}">{{ track.track }}</a></li>
              {% endfor %}
            </ul><!-- /tracks -->
          </div><!-- /collapse #{{ _level3_ID }} -->
        </div><!-- /.level3 -->
      {% endfor %}

      </div><!-- /end collapse #{{ _level2_ID }} -->

      {% endfor -%}
    {% endif -%}
    {# end of item1.item2 loop #}

    {%- if item.tracks %}
    <ul class="tracks">
      {% for track in item.tracks %}
        <li class="track"><a class="audio_track" href="{{ track.url }}">{{ track.track }}</a></li>
      {% endfor %}
    </ul><!-- /tracks -->
    {% endif -%}

  </div><!-- /end collapse #{{ _level1_ID }} -->

{% endfor %}
