<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - About VIHE</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="aboutvihe" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">

                    <div class="page-title">
                        About VIHE
                    </div>

                    <div>


                    <p>
                        The VIHE (Vrindavana Institute for Higher Education) was established in 1987 to fulfill Srila Prabhupada's desire for an educational institute in Vrindavana. The VIHE in the holy Dhama provides an ideal facility and atmosphere for you to improve your sadhana, develop your devotional qualities, engage in serious study, associate with senior devotees, and receive training in practical skills relevant to management and preaching.
                    </p>

                    <p>
                        The VIHE also aims to preserve and disseminate standards Srila Prabhupada set for acting in Krishna consciousness and to deepen devotee's understanding, realization and appreciation of Srila Prabhupada's teachings and movement. Thus, the Krishna conscious culture and values that Srila Prabhupada gave us can be passed on to successive generations.
                    </p>

                    <p>
                        At present our main courses are Bhakti-sadacara, Bhakti-sastri, Bhakti-vaibhava, Bhakti-vedanta,  and a variety of courses for the month of Kartik. All courses are well researched and taught by senior devotees who have a deep understanding of the subject.
                    </p>

                    <p>
                        The VIHE main office is located in Vrindavan Dham in a building next to ISKCON Goshala.
                    </p>

                    <p>
                        Please visit <a href="http://vihe.org" target="_blank">our web site</a> for detailed information or <a href="mailto:vihe.vbn@gmail.com">contact us by Email</a>
                    </p>
                    </div>

                    <!--#include file="_footer.inc" -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

    <!--#include file="_foot.inc" -->
</body>
</html>
