<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Accommodations</title>

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="accomodation" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                    Accommodations
                </div>

                <div>
                    <p>
                   This year the retreat will be held at the Govardhana Retreat Centre. 
                    </p>

                    <p>
                   The registration form with accommodation and other options will be released by the end of July or early August. For any further queries, please write to retreats@vihe.org
                    </p>
                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
