<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Accommodations</title>

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="accomodation" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                    Accommodations
                </div>

                <div>
                    <p>
                        To accommodate devotees at our retreats we are renting the rooms in the vicinity of Jatipur town at ashrams like Bal Krsna Bhavan and Ganga Dham. The rooms are quite bright and spacious by Indian standards and usually accommodate 2 to 3 devotees with or without attached bath, depending on the ashram. The beds are usually fitted with bedding. We also arrange for a car to drive devotees from their ashramas to the place of classes.
                    </p>

                    <p>
                        For more details. please email us on VIHE.Retreats.Registrations@pamho.net
                    </p>
                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
