<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>How you can help</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="how2help" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">

                    <div class="page-title">
                        How you can help
                    </div>

                    <div>

                        <p>Every year the VIHE organizes Retreats (Japa and Govardhan in November, Vaisnavi in March). The retreats are an opportunity for devotees to associate with seniors, improve their sadhana, develop their devotional qualities, receive spiritual training, immerse in Kṛṣṇa-katha, and visit holy places.</p>
                        <p>
                            We seek your help to extend this opportunity to many devotees.
                        </p>

                        <p>
                            Become a patron for the VIHE or sponsor items or equipment for the retreats. Please email us at <a href="mailto:donate@vihe.org">donate@vihe.org</a> for more details or contact Ananda Pradayini Devi Dasi at +91 96458 14337 / Balaji Priya Devi Dasi at +91 98212 05738.
                        </p>


                    </div>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

        <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
