<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Appreciations</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="appreciation" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">


                    <div class="page-title">
                        Appreciations
                    </div>

                    <div>
                        <p>
                            I now know the potency of chanting here. Because before I barely finished 4 rounds in Hong Kong, but here I easily finish 16 rounds. This is a land of my soul. The happiness here cannot be found anywhere, for me.<br>
                        Bn. Icy (Hong Kong)</p>

                        <p>
                            This is my first trip, and my description of this trip, my feeling is that it is magnificently and intensely purifying and nourishing for my spiritual life. I have realized how mechanical and artificial my past service in Hong Kong was. Now I am starting to understand that bhakti, or devotional service, means to do everything for Radha and Krishna with one's own heart and love, but not otherwise.<br>
                          Bhavatarini dd (Hong Kong)</p>

                        <p>
                            Sitting at the Govardhan's lotus feet and seeing Krsna's childhood leela unfold here, and hearing the glories of Nama and other instructions, awakens great hope that I, too, can bring life to my sadhana and chanting of Hare Krsna. Life without bhakti is no life, it's death.<br>
                          Narayani dd (Vrindavan)</p>

                        <p>
                            I am always deeply inspired by constant glorification of the Govardhan Hill. Krsna was revealing His personality and transcendental qualities. What I am carrying out of this is that sincere chanting of Hare Krsna is the magic password for unlocking Krsna's transcendental form, qualities, and pastimes.<br>
                          Bh. Theo (Australia)</p>

                        <p>
                            This retreat every year, somehow or other, matches the yearning I have in my heart at that time, and it somehow opens the way onwards in my Krsna conscious life. I am very thankful to Bhurijan Prabhu, Mataji and Sacinandan Maharaj, for providing me with this opportunity. The main message I got is dasya-bhava, the need to practice, not just to practice but to acquire that mood of service, and the need of inner cultivation of our personal loving relationship and service to the Divine Couple. I was everyday meditating on the little display that Jagattarini Mataji brought, with Krishna standing at the bottom of the hill and being forbidden to go Radharani? I am amazed, I have meditated day after day that I am getting a tiny glimpse of that inconceivable realm of Vraj, where God Himself is controlled by emotions, by His own devotees, by His own potencies. That is very wonderful! Thank you very much!<br>

                          Prasanta dd (Vrindavan)</p>

                        <p>
                            I would like to thank Braja Bihari Prabhu for inviting my husband and me to this Retreat. My realization here at Govardhan is that taking shelter at the feet of Giriraj actually gives rise to our inner connection with the process of Krsna consciousness. I am inspired to see and hear my Guru Maharaj in dedicated devotees like Srila Bhurijan Prabhu, Srila Sacinandana Maharaj, Jagattarini Mataji and all the devotees here. Thank you very much!<br>
                          Vrajalila dd BST (USA)</p>

                        <p>
                            My realization is that Govardhan is our eternal home. The message I got is that our goal is to simply become humble loving servants and make Krsna happy. Our hope is to put these things into practice in this lifetime if possible.<br>
                          Mani Manjari dd (Croatia)</p>

                        <p>
                            We are getting more feeling for what we hear over and over again, in the books and talks -- that this intense katha about the personalities of Radha and Krishna and Lord Caitanya and the residents of Vrindavan gives much needed nurturing to the soul. And it is really provided by this Retreat in the association of Giriraj and like-minded devotees who are hankering for a personal experience of Krsna's love in Vraj. So it is my realization that it, actually, works. Message is that I personally need to take advantage of the tools and association received at the Retreat to try to understand how I can please Krsna during the rest of this short lifetime and, hopefully, in the future births. It is being handed to us here, so now do something with it.<br>
                          Gunavatara d (Israel)</p>

                        <p>
                            Being in the association of the exalted Vaisnavas and hearing Krsna-katha destroys the material pangs and gives life to my Krsna consciousness. I have to seriously prioritize my life to become greedy for this. The essence I received from the presentations is that the Vrindavan-dham is just soaked with Krsna-lila everywhere, and we have to become absorbed in hearing to develop real attachment and love to Krsna.<br>
                          Rasayana d (Germany)</p>

                        <p>I
                          want to thank Maharaj, Bhurijan and Mother Jagattarini and Braja Bihari for letting me come here, and thank all the devotees for their wonderful association. This world of Vrindavan is very vast and somehow or other due to Srimati Radharani's mercy the door has opened here, and part of the veil that has covered my eyes for 30 years has been moved a little. It is very very beautiful. The message I have got is that there is two kinds of chanting: the chanting with bhakti and chanting without. By tweaking this veil a little bit, Giri Govardhan has helped me want to chant with bhakti, rather than without. Thank you!<br>
                          Jitari d (USA)</p>

                        <p>
                            I have realized, once again, that the path of the heart is the only one that really matters. We have to absolutely believe and hold tightly the longing for Krsna. Thank you so much for receiving me so kindly and affectionately here. Hare Krsna!<br>
                          Bh. Paul (Brazil)</p>

                        <p>
                            By continous hearing and chanting in the association of sincere and honest devotees at the lotus feet of Giriraj one can get a glimpse of genuine bhakti. It is crucial to be always endeavoring to increase our taste for hearing and chanting about Krsna.<br>
                          Ameyatma d (New Zealand)</p>

                        <p>
                            My realization is that the mercy of Giriraj is immense. I feel that very personally. And that the dham works in a subtle way, through hearing and chanting, in its own energy, and it is quite different from crises that I am immersed in. It takes me some time to actually arrive here and connect with what's really happening. Sincerity, eagerness and determination is the price that I must find in order to get self-realization in Krsna consciousness<br>
                          Yamunacarya d (New Zealand)</p>

                        <p>
                            Deep realizations of Krsna and His pastimes are all product of dedication to Guru and Gauranga and Their mercy. May such Retreats increase my surrender to Guru and Gauranga, so that by Their mercy I may attain Govardhan and Its lila. The Retreat is the great opportunity to appreciate the sincerity and kindness of so many devotees. I feel my spiritual family is greater now. It was a valuable opportunity to associate with devotees who are breathing and living the Dham. By their association I feel more connected to Govardhan. I am sure this Retreat will energize my preaching effort. Thank you very much!<br>
                          Ananda-Nitai d (Germany)</p>

                        <p>
                            I have heard some very inspiring Krsna-katha. The message I have got is that I should associate and hear more about Krsna from sincere devotees.<br>
                          Krsna-premarupa d (Switzerland)</p>

                        <p>
                            Giriraj Govardhan mercifully gives shelter and sanctity to fools like me who would only gradually understand what has happened this week. But I know that as weeks and months pass I will receive the immense benefit of intense association and hearing and chanting under the shelter of Govardhan. My realization is to make sure that on my return to my prabhu-datta-desa I am eating a healthy well-cut slice of the ISKCON sandwich, so that my devotional practices are more devotional, and less just &quot;service&quot;.<br>
                          Aniruddha d (Melbourne, Australia)</p>

                        <p>
                            When I come to Vrindavan I see many devotees wearing T-shirts advertising something which they have lost. My recommendation to the VIHE devotees is that they should try to help those devotees by printing a T-shirt advising that whatever one may have lost as a devotee will definitely be regained by attending the VIHE Govardhan Retreat:-). The message which came to me most strongly was from Srila Prabhupada's class heard at Ucchagram, wherein he said there is no state of consciousness other than Krsna consciousness.<br>

                          Sri Radha Ramana d (Perth, Australia)</p>

                        <p>
                            I want to thank Sacinandana Maharaj and Bhurijan Prabhu for kindly bringing me here and sometimes making me dance. My realization is that Krsna is very crooked and He comes in ways that we do not always expect and every day there is a new life. And the message that we heard in the last week is that relishing Krsna's name, form and pastimes in the association of antaranga bhaktas is the essence of all advice.<br>
                          Madhavananda d (Bhuvanesvar, India)

                        </p>
                    </div>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

        <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
