<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Photo Gallery: Holy Name Retreat</title>

    <!-- nanogallery2 -->
    <!--
    <link href="https://unpkg.com/nanogallery2@2.4.2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    -->

    <link rel="stylesheet" type="text/css" href="./dist/nanogallery2.css">

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="galleries" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                    Photo Gallery
                </div>

                <div class="gallery-link">
                    <a href="./gallery_govardhana.html">View Govardhana Retreat</a>
                </div>

                <div class="gallery-link gallery-current">
                    Holy Name Retreat
                </div>

                <div id="gallery_japa"></div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->

    <!--
        <script  type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.2/dist/jquery.nanogallery2.min.js"></script>
    -->

    <script  type="text/javascript" src="./dist/nanogallery2.js"></script>
    <script type="text/javascript">

        /*** https://nanogallery2.nanostudio.org/documentation.html#ngy2_concepts_start_all
        ***/
        $("#gallery_japa").nanogallery2({
            // ### gallery settings ###
            thumbnailHeight:  150,
            thumbnailWidth:   150,
            itemsBaseURL:     '/retreats/img/galleries/japa/',

            thumbnailDisplayTransition:          'scaleUp',
            thumbnailDisplayTransitionDuration:  500,
            thumbnailDisplayInterval:            30,

            // ### gallery content ###
            items: [
                { src: 'altar.jpg', srct: 'altar0.jpg', title: 'Altar at the local ashram' },
                { src: 'baba.jpg', srct: 'baba0.jpg', title: 'Baba at Prem Sarovar' },
                { src: 'bb.jpg', srct: 'bb0.jpg', title: 'A happy Vaisnava' },
                { src: 'boys.jpg', srct: 'boys0.jpg', title: 'Boys at Prem Sarovar' },
                { src: 'buffalo.jpg', srct: 'buffalo0.jpg', title: 'Caring for a buffalo' },
                { src: 'calf.jpg', srct: 'calf0.jpg', title: 'A calf' },
                { src: 'class_asram.jpg', srct: 'class_asram0.jpg', title: 'Class in the ashram' },
                { src: 'class_asram2.jpg', srct: 'class_asram20.jpg', title: 'Class in the ashram' },
                { src: 'class_asram3.jpg', srct: 'class_asram30.jpg', title: 'Questions and answers' },
                { src: 'class_premsar.jpg', srct: 'class_premsar0.jpg', title: 'Class at Prem Sarovar' },
                { src: 'class_premsar2.jpg', srct: 'class_premsar20.jpg', title: 'Hearing in rapt attention' },
                { src: 'classbprabhu.jpg', srct: 'classbprabhu0.jpg', title: 'Bhurijan Pr giving class' },
                { src: 'classsacmah.jpg', srct: 'classsacmah0.jpg', title: 'Sacinandana M giving class' },
                { src: 'classvilas.jpg', srct: 'classvilas0.jpg', title: 'Singing at Vilas Gar' },
                { src: 'gval.jpg', srct: 'gval0.jpg', title: 'A cowherd man' },
                { src: 'hut.jpg', srct: 'hut0.jpg', title: 'Cowdung huts' },
                { src: 'jaipur-palace1.jpg', srct: 'jaipur-palace10.jpg', title: 'Jaipur Temple' },
                { src: 'japa.jpg', srct: 'japa0.jpg', title: 'Chanting Holy Name' },
                { src: 'japa1.jpg', srct: 'japa1o.jpg', title: 'Chanting Holy Name' },
                { src: 'japa2.jpg', srct: 'japa20.jpg', title: 'Chanting Holy Name' },
                { src: 'japa3.jpg', srct: 'japa30.jpg', title: 'Chanting Holy Name' },
                { src: 'japa4.jpg', srct: 'japa40.jpg', title: 'Chanting Holy Name' },
                { src: 'japa5.jpg', srct: 'japa50.jpg', title: 'Chanting Holy Name' },
                { src: 'japa6.jpg', srct: 'japa60.jpg', title: 'Chanting Holy Name' },
                { src: 'japa7.jpg', srct: 'japa70.jpg', title: 'Chanting Holy Name' },
                { src: 'japa8.jpg', srct: 'japa80.jpg', title: 'Chanting Holy Name' },
                { src: 'japa9.jpg', srct: 'japa90.jpg', title: 'Chanting Holy Name' },
                { src: 'japa10.jpg', srct: 'japa100.jpg', title: 'Chanting Holy Name' },
                { src: 'japa11.jpg', srct: 'japa110.jpg', title: 'Chanting Holy Name' },
                { src: 'japa12.jpg', srct: 'japa120.jpg', title: 'Chanting Holy Name' },
                { src: 'japa13.jpg', srct: 'japa130.jpg', title: 'Chanting Holy Name' },
                { src: 'japa14.jpg', srct: 'japa140.jpg', title: 'Chanting Holy Name' },
                { src: 'japa15.jpg', srct: 'japa150.jpg', title: 'Chanting Holy Name' },
                { src: 'japa16.jpg', srct: 'japa160.jpg', title: 'Chanting Holy Name' },
                { src: 'kids.jpg', srct: 'kids0.jpg', title: 'Local children' },
                { src: 'ladies.jpg', srct: 'ladies0.jpg', title: 'Chanting brings joy' },
                { src: 'mata.jpg', srct: 'mata0.jpg', title: 'Varshana lady' },
                { src: 'monkey.jpg', srct: 'monkey0.jpg', title: 'Visit from a local friend' },
                { src: 'monkey1.jpg', srct: 'monkey10.jpg', title: 'Thirsty monkey' },
                { src: 'peacockcow.jpg', srct: 'peacockcow0.jpg', title: 'A peacock and a cow' },
                { src: 'premclass.jpg', srct: 'premclass0.jpg', title: 'Jagattarini Mataji speaking' },
                { src: 'premsarovar.jpg', srct: 'premsarovar0.jpg', title: 'Prem Sarovar' },
                { src: 'premsarovar1.jpg', srct: 'premsarovar10.jpg', title: 'Prem Sarovar' },
                { src: 'radhanam.jpg', srct: 'radhanam0.jpg', title: 'Radha\'s Name' },
                { src: 'rest.jpg', srct: 'rest0.jpg', title: 'Midday rest' },
                { src: 'rock1.jpg', srct: 'rock1a.jpg', title: 'Varsana jewel rocks' },
                { src: 'rock3.jpg', srct: 'rock3a.jpg', title: 'Varsana jewel rocks' },
                { src: 'rock4.jpg', srct: 'rock4a.jpg', title: 'Varsana jewel rocks' },
                { src: 'rock5.jpg', srct: 'rock5a.jpg', title: 'Varsana jewel rocks' },
                { src: 'rock6.jpg', srct: 'rock6a.jpg', title: 'Varsana jewel rocks' },
                { src: 'sankirtana.jpg', srct: 'sankirtana0.jpg', title: 'Harinam sankirtana' },
                { src: 'sankirtana2.jpg', srct: 'sankirtana2a.jpg', title: 'Harinam sankirtana' },
                { src: 'school.jpg', srct: 'school0.jpg', title: 'Brajabasi school' },
                { src: 'snack.jpg', srct: 'snack0.jpg', title: 'Midday snack' },
                { src: 'sriji.jpg', srct: 'sriji0.jpg', title: 'Sriji Temple at sunset' },
                { src: 'sriji2.jpg', srct: 'sriji2a.jpg', title: 'Sriji Temple' },
                { src: 'sriji3.jpg', srct: 'sriji3a.jpg', title: 'Sriji Temple' },
                { src: 'sriji6.jpg', srct: 'sriji6a.jpg', title: 'Sriji Temple far' },
                { src: 'vilasgar.jpg', srct: 'vilasgar0.jpg', title: 'Vilas Gar' },
                { src: 'vilasgar1.jpg', srct: 'vilasgar1a.jpg', title: 'Vilas Gar' },
                { src: 'vilasgar2.jpg', srct: 'vilasgar2a.jpg', title: 'Vilas Gar' },
                { src: 'vilasgar3.jpg', srct: 'vilasgar3a.jpg', title: 'Vilas Gar' },
                { src: 'vilasgar4.jpg', srct: 'vilasgar4a.jpg', title: 'Vilas Gar' },
                { src: 'teachers.jpg', srct: 'teachers0.jpg', title: 'Farewell words' },
                { src: 'finalmeeting.jpg', srct: 'finalmeeting0.jpg', title: 'Final meeting' },
                { src: 'final.jpg', srct: 'final0.jpg', title: 'Everyone together' }
            ]
        });
    </script>
</body>
</html>
