<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Photo Gallery: Govardhana Retreat</title>

    <!-- nanogallery2 -->
        <!--
        <link href="https://unpkg.com/nanogallery2@2.4.2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
        -->

        <link rel="stylesheet" type="text/css" href="./dist/nanogallery2.css">

</head>

<body>
    <!--#include file="_header.inc" -->
    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="galleries" -->
            <!--#include file="_sidebar.shtml" -->
            <div class="col">
                <div class="page-title">
                    Photo Gallery
                </div>

                <div class="gallery-link">
                    <a href="./gallery_japa.html">View Holy Name Retreat</a>
                </div>

                <div class="gallery-link gallery-current">
                    Govardhana Retreat
                </div>

                <div id="gallery_govardhana"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->
    <!--#include file="_footer.inc" -->
    <!--#include file="_foot.inc" -->
    <!--
    <script  type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.2/dist/jquery.nanogallery2.min.js"></script>
    -->
    <script type="text/javascript" src="./dist/nanogallery2.js"></script>
    <script type="text/javascript">
    /***
        https://nanogallery2.nanostudio.org/documentation.html#ngy2_concepts_start_all
        ***/

    $("#gallery_govardhana").nanogallery2({
        // ### gallery settings ###
        thumbnailHeight: 150,
        thumbnailWidth: 150,
        itemsBaseURL: '/retreats/img/galleries/govardhana/',

        thumbnailDisplayTransition: 'scaleUp',
        thumbnailDisplayTransitionDuration: 500,
        thumbnailDisplayInterval: 30,

        // ### gallery content ###
        items: [

            { src: 'ashram.jpg', srct: 'ashram0.jpg', title: 'Our Ashram' },
            { src: 'asesvar.jpg', srct: 'asesvar0.jpg', title: 'Mahesvara' },
            { src: 'bhajans.jpg', srct: 'bhajans0.jpg', title: 'Bhajans' },
            { src: 'bhur_p.jpg', srct: 'bhur_p0.jpg', title: 'HG Bhurijana Prabhu giving class' },
            { src: 'bluecow.jpg', srct: 'bluecow0.jpg', title: 'A blue cow' },
            { src: 'brajabasis.jpg', srct: 'brajabasis0.jpg', title: 'Brajabasi family' },
            { src: 'brajabasis2.jpg', srct: 'brajabasis20.jpg', title: 'Brajabasi ladies' },
            { src: 'bull.jpg', srct: 'bull0.jpg', title: 'HH Sacinandana Maharaja giving class' },
            { src: 'class_jm.jpg', srct: 'class_jm0.jpg', title: 'HG Mother Jagattarini giving class' },
            { src: 'class_mp.jpg', srct: 'class_mp0.jpg', title: 'HG Madhavananda Prabhu giving class' },
            { src: 'classbhurijanpr.jpg', srct: 'classbhurijanpr0.jpg', title: 'Afternoon class by Bhurijan Prabhu' },
            { src: 'class_gov.jpg', srct: 'class_gov0.jpg', title: 'Class at Govardhana' },
            { src: 'dailylecture.jpg', srct: 'dailylecture0.jpg', title: 'Daily Lecture' },
            { src: 'cows.jpg', srct: 'cows0.jpg', title: 'Krishna\'s cows' },
            { src: 'dailylecture.jpg', srct: 'dailylecture0.jpg', title: '' },
            { src: 'dancing-for-giriraja.jpg', srct: 'dancing-for-giriraja0.jpg', title: 'Dancing for Giriraja' },
            { src: 'devotees.jpg', srct: 'devotees0.jpg', title: 'Hearing Krishna katha' },
            { src: 'drama.jpg', srct: 'drama0.jpg', title: 'Drama participants' },
            { src: 'drama2.jpg', srct: 'drama20.jpg', title: 'Drama' },
            { src: 'giriraja3.jpg', srct: 'giriraja30.jpg', title: 'A beautiful Govardhan' },
            { src: 'girl.jpg', srct: 'girl0.jpg', title: 'Padmavati reads her story' },
            { src: 'gopis.jpg', srct: 'gopis0.jpg', title: 'Gopis in the Drama' },
            {
                src: 'krishna.jpg',
                srct: 'krishna10.jpg',
                title: 'Dearest Krishna'
            },
            {
                src: 'govardhannoon.jpg', srct: 'govardhannoon0.jpg', title: 'A sunny day at the feet of Giriraj' },
            { src: 'govindatree.jpg', srct: 'govindatree0.jpg', title: 'Lord Govinda presiding over the lecture' },
            { src: 'harinam.jpg', srct: 'harinam0.jpg', title: 'Harinama in Govardhan town' },
            { src: 'holydisplay.jpg', srct: 'holydisplay0.jpg', title: 'A display of Holi pastimes made by Jagattarini Mataji' },
            { src: 'holyname.jpg', srct: 'holyname0.jpg', title: 'Govardhan silas proudly display the names Radha-Krishna' },
            { src: 'kirtan.jpg', srct: 'kirtan0.jpg', title: 'Kirtan in Haridev Mandir' },
            { src: 'kirtan2.jpg', srct: 'kirtan20.jpg', title: 'Bhajans' },
            { src: 'kirtanbreak.jpg', srct: 'kirtanbreak0.jpg', title: 'Kirtan break during class' },
            { src: 'lali.jpg', srct: 'lali0.jpg', title: 'Brajabasi girl' },
            { src: 'lectroof.jpg', srct: 'lectroof0.jpg', title: 'Lecture on the roof' },
            { src: 'jairadhe.jpg', srct: 'jairadhe0.jpg', title: 'Jai Radhe!' },
            { src: 'lecturebhurijanapr.jpg', srct: 'lecturebhurijanapr0.jpg', title: 'Lecture by Bhurijana Prabhu' },
            { src: 'lecturejagattarinim.jpg', srct: 'lecturejagattarinim0.jpg', title: 'Lecture by Mother Jagattarini' },
            { src: 'lecturesachinm.jpg', srct: 'lecturesachinm0.jpg', title: 'Lecture by HH Sacinandana Maharaja' },
            { src: 'morning.jpg', srct: 'morning0.jpg', title: 'Morning at the Hill' },
            { src: 'music.jpg', srct: 'music0.jpg', title: 'Music' },
            { src: 'musicdrama.jpg', srct: 'musicdrama0.jpg', title: 'Musical accompaniment for the drama' },
            { src: 'panditji.jpg', srct: 'panditji0.jpg', title: 'Local Pandit' },
            { src: 'parikramaucha.jpg', srct: 'parikramaucha0.jpg', title: 'Walking with kirtan in Uchagaon' },
            { src: 'parrot.jpg', srct: 'parrot0.jpg', title: 'Vrindavan forest is full of beautiful parrots singing the glories of Radha and Krishna' },
            { src: 'jagat_m.jpg', srct: 'jagat_m0.jpg', title: 'Mother Jagattarini' },
            { src: 'prasadam.jpg', srct: 'prasadam0.jpg', title: 'Prasadam at the ashram' },
            { src: 'pujariterkad.jpg', srct: 'pujariterkad0.jpg', title: 'Pujari who serves Srila Rupa Goswami at Ter Kadamba' },
            { src: 'puppetshow.jpg', srct: 'puppetshow0.jpg', title: 'A puppet show by Mother Jagattarini' },
            { src: 'rasliladisplay.jpg', srct: 'rasliladisplay0.jpg', title: 'Rasa lila miniature by Mother Jagattarini' },
            { src: 'reading.jpg', srct: 'reading0.jpg', title: 'Evening reading' },
            { src: 'surabhikunda.jpg', srct: 'surabhikunda0.jpg', title: 'At Surabhi Kunda' },
            { src: 'terkadamba.jpg', srct: 'terkadamba0.jpg', title: 'Ter Kadamba - bhajan Kutir of Srila Rupa Goswami near Nandagram' },
            { src: 'uchacourtyard.jpg', srct: 'uchacourtyard0.jpg', title: 'Uchagaon village courtyard' },
            { src: 'uchakids.jpg', srct: 'uchakids0.jpg', title: 'Uchagaon kids' },
            { src: 'uchatemple.jpg', srct: 'uchatemple0.jpg', title: 'Devotees taking darshan of Radha, Krishna and Lalita at Uchagaon Temple' },
            { src: 'walking.jpg', srct: 'walking0.jpg', title: 'Walking from the Temple of Asheshvar Mahadev to Ter Kadamba' },
            { src: 'watch_drama.jpg', srct: 'watch_drama0.jpg', title: 'Watching drama' },
            { src: 'watch_drama2.jpg', srct: 'watch_drama20.jpg', title: 'Watching drama' },
            { src: 'watchdrama.jpg', srct: 'watchdrama0.jpg', title: 'Watching the Drama' }
        ]
    });

    </script>
</body>

</html>
