<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Glories of Govardhana</title>

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="glories" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                   The Glories of Govardhana
                </div>

                <div>

                    The Vedic scriptures proclaim that the glories of Lord Krishna are unlimited and eternal and no one is able to reach the end of them. In the same way, who can fully describe the splendid glories of Sri Giriraja-Govardhana, the best servant of the Lord and at the same time non-different from the Lord Himself? To protect his dear vrajavasis from Indra&#8217;s wrath, Sri Krishna held the Hill on the small finger of His divine hand for seven days. The area of Govardhan is full of wonderful forests, lakes, caves, waterfalls, jeweled paths, platforms and pavilions. Lord&#8217;s most intimate pastimes&#8217; places &#8211; Sri Radha-kunda and Sri Syama-kunda are located at the foot of the Hill. The Vaishnava acharyas and saints left us a great treasure of scriptures, describing the wonderful pastimes, which are going on eternally in the shade of Giriraja. Here are but
                      a few drops of this nectar.</p>

                    <p>The holy place known as Mathura is spiritually superior to Vaikuntha, the transcendental world, because the Lord appeared there. Superior to Mathura-Puri is the transcendental forest of Vrndavana because of Krsna's rasa-lila pastimes. And superior to the forest of Vrndavana is Govardhana Hill, for it was raised by the divine hand of Sri Krsna and was the site of His various loving pastimes. And, above all, the superexcellent Sri Radha-kunda stands supreme, for it is overflooded with the ambrosial nectarean prema of the Lord of Gokula, Sri Krsna. Where, then, is that intelligent Person who is unwilling to serve this divine Radha-kunda, which is situated at the foot of Govardhana Hill?<br>

                      (Sri Upadesamrita, verse 9)
                    </p>

                    <p>&#8220;Of all the devotees this Govardhana Hill is the best! Or my friends this Hill supplies Krishna and Balarama, along with their calves, cows and cowherd friends, with all the necessities: water for drinking, very soft grass, caves, fruits, flowers and vegetables. In this way the Hill offers respects to the Lord. Being touched by the lotus feet of Krishna and Balarama, the hill appears very jubilant&#8221;.<br> (SB 10.21.18).</p>

                    <p class="header">
                        The birth of Sri Giriraja
                    </p>

                    <p>One
                      day, in the beautiful rasa-dance circle, which was filled with the tinkling of anklets and with courtyards splendid with pearls and parasols, strings of flowering malati vines fragrant with nectar honey, sounds of flute and mridanga and beautiful singing from beautiful throats, and which was shining with many beautiful girls, Radha cast a sidelong glance at Lord Krishna, who is more charming that many millions of Kamadevas, and who generously gives the sweetest nectar. She spoke to Him the following words. O Lord of the worlds, if You are pleased with My love in this rasa-dance, then there is a desire in My heart I would like to place before You.<br>

                      The Supreme Personality of Godhead said: O girl with the beautiful thighs, You may ask for whatever Your heart desires. O beloved, if I have not already given it, I will lovingly give whatever You wish. Sri Radha said: In splendid Vrindavana forest, in a beautiful and secluded place by the Yamuna's shore, please make an arena for a nectar rasa-dance. O Lord of lords, this is My desire.<br>

                      Sri Narada said: Saying, &quot;So be it&quot;, the Lord meditated. With His lotus eyes he looked inside His heart. As the gopis watched, Krishna's love, in a form of fire and water, came from His heart as a sprout comes up from the ground. Falling onto the ground of the rasa-dance circle, that love grew into a great mountain filled with many caves and swiftly-moving streams, beautiful with kadamba, bakula, and asoka trees and a great network of flowering vines, opulent with mandara and kunda flowers, and filled with graceful birds. O king of Videha, in a single moment that mountain became eight hundred thousand miles wide and eight billion miles long. It was like another Ananta Shesha. It was four billion miles tall. It is four billion miles tall eternally. It was like a gigantic elephant. It had a hundred eighty-million-mile-tall peaks. O king of Mithila, it was like a great palace with many golden domes. <br>

                      As the mountain expanded, Goloka became filled with fear and there was a great uproar. Lord Krishna at once stood up and slapped the mountain with His hand. He said, &quot;Why do You expand so much? You have covered the entire realm! Why do you not stop at once?&quot; In this way Krishna stopped the mountain from growing any further.<br>

                      Gazing at this best of mountains, Lord Krishna's beloved Radha was very pleased. O king, She enjoyed pastimes with Krishna in a secluded place on that mountain. In this way Govardhana Hill, which is the best of mountains, which is dear to the Lord, which is dark as a monsoon cloud, and which contains within itself all holy places, was manifested by Lord Krishna.<br>
                      (Garga Samhita, Canto 3, Chapter 9)</p>

                    <p class="header">
                        A few verses from Garga Samhita, describing Giriraja&#8217;s glories.
                    </p>
                    <p>
                        Chapter 10<br>
                        Text 14<br>

                      The liberated soul said: Glorious Govardhana Hill, the king of mountains, is the personal form of Lord Krishna. Simply by seeing it, one attains the supreme goal of life.</p>

                    <p>
                        Texts 18-19<br>
                      Even though he has committed hundreds of sins, a person who on Mount Mangala gives gold in charity attains a spiritual form like Lord Visnu's. That same result is attained simply by seeing Govardhana Hill. No other holy place is as sacred as Govardhana Hill.</p>

                    <p>
                        Texts 20-21<br>
                      O brahmana, simply by visiting Govardhana Hill one attains piety a hundred thousand times greater than the piety he would attain if on the sacred mountains Rishabha, Kutaka, and Kolaka he had worshiped many brahmanas and given in charity ten million cows with golden horns.</p>

                    <p>
                        Texts 28-30<br>
                      O best of brahmanas, bathing in sacred rivers, giving charity, performing austerities, and performing pious deeds, all these performed during Sri Rama-navami on Mount
                      Citrakuta, during the third day of Vishakha on Pariyatra, during the full-moon on Mount Kukura, during Dvadasi on Mount Nila, or during Saptami at Indrakila bring a great pious result. That pious result is multiplied ten million times by visiting Bharata-varsha. It is multiplied unlimited times by visiting Govardhana Hill.</p>

                    <p>
                        Texts 31-37<br>
                      By giving charity, performing austerities, bathing in sacred rivers, chanting sacred mantras, or worshiping the brahmanas and the Supreme Personality of Godhead at the Godavari, Mount Simla, Mayapuri, Kumbhaga, Pushkara, Pushya-nakshatra, Kurukshetra, Ravi-graha, Candra-graha, Kashi, Phalguna, Naimisha, Ekadashi, Shukara, Kartiki, Ganamuktida, Janmashtami, Madhupuri, Khandava, Dvadasi, Kartiki, Purnima, Vateshvara-maha-vata, Makararka, Prayaga, Barhishmati, Vaidhati, Ayodhya-sarayu-tira, Sri Rama-navami-dina, Shiva-caturdasi, vaijanatha- subha-vana, Darsa, Soma-vara, Ganga-sagara-sangama, Dasami, Setubandha, Sri Ranga, or Saptami-dina, on attains a great pious result. O best of brahmanas, by visiting Govardhana Hill one attains a pious result ten million times greater than all those pious deeds together.</p>

                    <p>
                        Chapter 11<br>
                        Text 26<br>

                      One who hears the glories of Govardhana Hill, glories that are filled with the secrets of Lord Krishna's ever-new transcendental pastimes, will become as fortunate as King Indra in this life, and as fortunate as King Nanda in the next.<br> <br>

                      Here are the Govardhana-vasa-prarthana-dasaka &amp; Govardhanasraya-dasaka from Srila Raghunatha Dasa Goswami which were the favourites of Srila Bhaktisiddhanta Sarasvati Goswami. They have been translated by Kusakratha Prabhu.</p>

                    <p class="header">
                        Govardhana-vasa-prarthana-dasaka<br>
                      <br>
                      Ten Appeals for Residence at Govardhana Hill

                  </p>

                  <p>

                      Text 1<br>
                      O Govardhana, O king of all incomparable great mountains, O hill that became an umbrella with the arm of your own Lord as the handle and then destroyed the pride of the deva king madly attacking with raised weapons, please grant the residence near you that is so dear to me.</p>

                      <p>
                        Text 2<br>
                      O Govardhana, please grant to me the residence near you that will guarantee the sight of the youthful divine couple as they enjoy passionate amorous pastimes in your caves.</p>

                    <p>
                        Text 3<br>
                      O Govardhana, O hill where Lord Krishna happily plays with Balarama and His friends in the incomparable jeweled courtyards, jeweled lion-thrones, trees, waterfalls, mountain-brooks, caves, peaks, and valleys, please grant the residence near you that is so dear to me.</p>

                    <p>
                        Text 4<br>
                        O Govardhana, O hill that provides the dark courtyard that witnesses the dana-keli pastime of the nectar-treasure youthful divine couple, O hill that brings great bliss to the best of they who relish transcendental nectar, please grant to me residence near you.</p>

                    <p>
                        Text 5<br>
                        O Govardhana, O hill that, hiding as you playfully embrace the neck of your dear friend, Lord Hari's dear, unprecedented Radha-Kunda, secretly gazes at the pastimes of the youthful divine couple, please grant to me residence near you.</p>

                    <p>
                        Text 6<br>
                        O Govardhana, O hill that by nourishing the cows with its water, grass, and the shade of its trees declares to the three worlds the appropriateness of its own name, please grant to me residence near you.</p>

                    <p>
                        Text 7<br>

                      O Govardhana, O hill that the enemy of Agha and Baka honored by transforming into a new house to give Vraja protection from the sustained fury of the sura king, please grant to me residence near you.</p>

                    <p>
                        Text 8<br>

                      O Govardhana, O king of mountains, O hill whose nectar name &quot;the best of Lord Hari's servants&quot; flows from the moon of Sri Radha's mouth, O hill that the Vedas declare to be the tilaka marking of Vraja, please grant to me residence near you.</p>

                    <p>
                        Text 9<br>

                      O Govardhana, O philanthropist that gives transcendental happiness to Vraja's people, animals, and birds, all anointed with the nectar of friendship for Sri Sri Radha-Krishna surrounded by Their friends, out of Your immeasurable mercy, please accept unhappy me and please grant me residence near you.</p>

                    <p>
                        Text 10<br>

                      Although I am a cheater and a criminal, unlimitedly merciful Lord Sacinandana, who is very dear to you, has given me to you. O Govardhana, please do not consider whether I am acceptable or not, but simply grant me residence near you.</p>

                    <p>Text 11<br>
                      One who carefully reads these ten nectar verses describing Srila Govardhana,
                      the king of mountains, will very soon reside near that blissful hill and quickly
                      attain the precious jewel of the service to the handsome divine couple.</p>

                        <p class="header">
                        Sri Govardhanasraya-dasaka<br />
                      Ten Appeals for Shelter at Govardhana Hill</p>

                    <p>
                        Text 1<br>

                      Who will not take shelter of Govardhana Hill, the best of mountains, the friend of Gokula, the charming bumblebee that for seven days stood on the graceful whorl of the lotus flower of Lord Krishna's hand and protected Vraja from the mouth of the Indra-crocodile raining a great monsoon?</p>

                    <p>
                        Text 2<br>

                      What pious person will not take shelter of Govardhana Hill, whose peak is the place of pastimes for Lord Krishna, the master of the surabhi cows, and near which is blissful Govinda-Kunda, where a surabhi cow, followed by humbled Indra bearing the waters of the celestial Ganges, bathed Lord Krishna and secretly crowned Him king of the surabhi cows?</p>

                    <p>
                        Text 3<br>
                      What pious person will not take shelter of Govardhana Hill, which is glorified by the great sages, and which is encircled by the lakes Siri-Kunda, Brahma-Kunda, Hara-Kunda, Apsara-Kunda, Priyaka-Kunda, and Sri-dana-Kunda, which are splendid with the happiness of pure love and more dear to Lord Hari than the celestial Ganges and a host of other sacred places?</p>

                    <p>
                        Text 4<br>

                      Who will not take shelter of Govardhana Hill, which is charming with cows, deer, birds, and trees, and which is the place where the lakes Jyotsnamokaana-Kunda, Malya-Kunda, Hara-Kunda, Sumana-Kunda, Gauri-Kunda, Balaridhvaja-Kunda, Gandharva-Kunda, many other lakes, many swiftly-moving mountain streams, many lion-thrones for amorous pastimes, many places for Lord Hari's other pastimes, and the cowherd boy Lord Hari Himself, are all splendidly manifest?</p>

                    <p>
                        Text 5<br>

                      Who will not take shelter of Govardhana Hill? He who with always devotedly caries on his bowed head the lake known as SyAma-Kunda, which is millions of times greater than the Ganges, and which was born from the foot of Lord Krishna, becomes more dear to the Lord than even the demigod Siva. He who in the same way carries the jewel known as Radha-Kunda attains the full mercy of Lord Krishna. He becomes the most dear and glorious of devotees.</p>
                    <p>
                        Text 6<br>

                      Who will not take shelter of Govardhana Hill, where the divine couple enjoy Their rescue-fee pastimes, and where the Manasa-ganga flows? In the Manasa-gangA the pilot Madhava took sweetly beautiful Radha on His boat, and when She, frightened by a great storm, prayed that He calm it, He claimed from Her as a rescue-fee the fulfillment of His amorous desires.</p>

                    <p>
                        Text 7<br>

                      Ah, what pious person will not take shelter of lofty Govardhana Hill, the beautiful
                      and transcendental place of the rAsa dance, where Sri Radha, accompanied by
                      Her beautiful friends worshiped by hundreds of goddesses of fortune, and the
                      splendid, nectar arm of Lord Krishna playfully resting on Her neck, dances in
                      the springtime rasa-lila?</p>

                    <p>
                        Text 8<br>
                      Who will not take shelter of Govardhana Hill where, blossoming with happiness at the outrageous joking words of Their friends, perpetually wounded by the swift arrows shot from the corners of Their cruel, smiling eyes, and laughing at the crooked words of the ever-new dana-keli quarrel, the youthful divine couple displayed so many transcendental pastimes?</p>

                    <p>
                        Text 9<br>

                      Who will not take shelter of graceful and auspicious Govardhana Hill, where, accompanied by Sridam and His other friends, playing with Sankarsana, and carefully herding the cows, Lord Krishna happily sings&quot; ri ri&quot;, and where Lord Krishna enjoys amorous pastimes with Radha in the rasa dance arena and deep in the hidden caves?</p>

                    <p>Text 10<br>
                      Who will not take shelter of Govardhana Hill, the crowned king of all mountains? For the people of Vraja's sake Lord Mukunda neglected the sun-god's daughter Yamuna, a host of other lofty hills, the wish-fulfilling forest of Vrindavana, and the town of Nandisvara, and respectfully worshiped Govardhana Hill.</p>

                    <p>Text 11<br>
                      By the mercy of Govardhana Hill these ten beautiful verses about Govardhana Hill, which grant residence at Govardhana Hill, have come from the mouth of a blind old man. The pleasure of Govardhana Hill, which is my life and soul, and which is a beautiful jewel-mine of transcendental virtues, is the ripe fruit I seek from my labor in writing these verses.</p>

                    <p>&nbsp;</p>

                    <p class="header">
                        An except from Vraja-riti-cintamani by Srila Vishvanath Chakravarti Thakur
                    </p>

                    <p>
                      Chapter 3<br>
                      1 Govardhana Hill is like a flag of intense sweetness placed in the opulent land of Vrndavana. As the king of mountains Govardhana Hill offers very pleasing royal service to the young prince of Vraja.<br>

                      2 The rocks of Govardhana Hill are many kinds of splendid jewels that provide thrones, couches, and other kinds of furniture for Sri Krsna, the supreme monarch of all nectar mellows.<br>

                      3 Govardhana Hill's beautiful forests and caves are Krsna's nectar pastime palaces, each one perfect for the supreme good fortune of His beloved and Her friends.<br>

                      4 Govardhana Hill's trees and vines serve Sri Krsna by offering Him blossoming branches with sweet fruits, and flowers filled with honey, nectar and fragrant pollen.<br>

                      5 The red, vermilion, yellow and other coloured pigments of Govardhana Hill decorate Lord Krsna's transcendental body for the pleasure of His beloved gopis.<br>

                      6 The musk left by deer, as well as the kunkuma, camphor, and aguru naturally produced by Govardhana Hill, were all used to give a sweet fragrance to the transcendental body of Lord Krsna.<br>

                      7 There is a pleasant grove of sandalwood trees on Govardhana Hill. Although snakes generally flock to sandalwood trees, no snakes ever come here, or if sometimes a snake may come it is not poisonous, or if sometimes a poisonous snake may come its poison is automatically counteracted, and it can do no harm. As the best servant of Lord Hari, Govardhana Hill has made this wonderful arrangement for the Lord's pleasure.<br>

                      8 One time a contrary fawn-eyed gopi left Sri Krsna. A short time afterwards She saw a snake on the road. Frightened, She took shelter of Lord Krsna, embracing Him and begging for protection. As Lord Hari's best servant, Govardhana Hill made all these nectarean arrangements for His pastimes.<br>

                      Note: This verse may also be translated in the following way: <br>
                      Rejected by a certain contrary fawn eyed gopi, Sri Krsna said: &quot;I have just been bitten by one of Govardhana Hill's snakes&quot;. When the gopi heard this, she became repentant and came before the Lord with many apologies. As Lord Hari's best servant, Govardhana Hill made all these arrangements for His pastimes.<br>

                      9 The rocks of Govardhana Hill are all precious gems. Some are sapphires, some emeralds, some rubies or crystals. They provide the perfect backdrop for Lord Krsna's pastimes.<br>

                      10 If, while walking on Govardhana Hill, Krsna's elder brother Balarama sees a series of golden stones, He thinks: 'the daughter of King Vrsabhanu must have just now walked before Me', and He changes course to avoid an awkward situation. In the same way, if She sees a series of crystal stones, She thinks: 'Balarama must have just now walked before Me', and She changes Her course.<br>

                      11 If, on Govardhana Hill, which is the best of Lord Hari's servants, Sri Krsna sees a golden stone, He takes it to be His beloved. In the same way, His beloved sees a sapphire, She assumes it is Her lover.<br>

                      12 The gopis' necklaces, ornaments, red foot cosmetic, betelnuts, and other paraphernalia gaze on the beauty of Govardhana Hill's groves and caves. Who would not become enchanted by the beauty of Govardhana Hill?<br>

                      13 Sri Krsna is the sapphire and the gopis the golden necklaces ornamenting Govardhana Hill. The pastimes of Krsna and the gopis are the sons and daughters of Govardhana Hill. Who is able to describe the glories of Govardhana Hill?<br>

                      14 The peacocks dance enthusiastically, the bees and cuckoos sing melodiously and may other birds chirp a rhythmic accompaniment, as they all gaze on the serve to Lord Hari done by Govardhana Hill, the best of Lord Hari's servants.<br>

                      15 The land around Govardhana Hill in all directions is filled with many lakes, groves, and other charming places of Lord Krsna's pastimes. Many lovely streams flow from Govardhana Hill onto these lands in all directions.<br>

                      16 To the east is Dana-nivartana-kunda. When Sri Radhika's handsome beloved remembers it, He begins to tremble, and the hairs on His body stand erect.<br>

                      17 To the east of that is Candra-sarovara, where the divine couple enjoyed many rasa dances. The memory of this place makes Them dance in ecstatic love.<br>

                      18 Southeast of Govardhana Hill is Sanksarsanananda-sarovara, and to the east of that is Gauri-tirtha, which is scrupulously avoided by Gauri's husband, Lord Siva.<br>

                      19 The nectar flood of supreme good fortune rising from His eternal pastimes with Her has made Her beloved supremely learned in the philosophy of forest-pastimes.<br>

                      20 In between Sankarsana-sarovara and Dana-nivartana-kunda is Anandaraja-tirtha, where the Mahanna-kuta festival delighted the young prince of Vraja.<br>

                      21 West of that are two splendid places in the mouth of Krsna's pastimes. They are Sri Dhana-ghata and Sri Sumani-ghata, where the divine couple playfully talked and joked.<br>

                      22 At this place the divine couple enjoyed the playful quarrel pastimes known as dana-keli. Who would not be astonished by this pastime? When this pastime enters the ears it makes both the body and mind dance.<br>

                      23 Govardhana Hill resembles a gigantic peacock that has Govinda-kunda as its tail. The Manasa-ganga, where the divine couple eternally enjoys boat-sailing pastimes, enters into the waters of Govinda-kunda.<br>

                      24 If one hears about the divine couple's boat-sailing pastimes, he will become stunned in ecstasy and it will not be possible for him to stop hearing about them.<br>

                      25 On the Manasa-ganga's shores are many madhavi-vine pavilions with nectar beauty that shines in the three worlds. There the divine couple enjoys splendid pastimes that are eternally remembered in the world's hearts.<br>

                      26 With its nearby forest groves and the limitless nectar-trickling flowers in its waters, Kusuma-sarovara shines with great splendour. Is it the handsome face of Govardhana Hill, the king of mountains?<br>

                      27 This lake is known as Kusuma-sarovara because of the many blossoming flowers, destined to become gopis in the future, that grow in its waters. Simply by one bathing in this Kusuma-sarovara, Narada Muni attained a gopi-form. This fact is directly confirmed in the words of the enchanting Supreme Personality of Godhead.<br>

                      28 The Supreme Personality of Godhead eternally enjoys pastimes on Govardhana Hill. He personally lifted Govardhana Hill with His own hand to protect His cowherd associates. Who is able to describe the glories of Govardhana Hill, the best of Lord Hari's servants?<br>

                      29 Radha-kunda and Syama-kunda are Govardhana's two love-filled eyes. Because it nourishes the gopas, gopis, and surabhi cows with Lord Madhava's sweetness, it shines with the name 'go-vardhana'.<br>

                      30 Syama-kunda and Radha-kunda are two great floods of the nectar of beauty. They are two great oceans of splendour. They are two beautiful roots from which sweet devotional service grows.<br>

                      31 They are two jewel-mines of love. They are two seeds from which grow the jewel-vines of transcendental pastimes. How did they become two splendid and nectar-sweet lakes?<br>

                      32 By seeing these two lakes, Radha and Krsna believe They are present in them. It is as if They directly see each other there. The wise say that by approaching these lakes one directly approaches Radha and Krsna.<br>

                      33 Longing to meet, but forced to remain separate, Radha and Krsna assumed the forms of Radha-kunda and Syama-kunda. In this way They becomes splashed with the nectar of meeting each other.<br>

                      34 I think that when Radha saw Krsna She melted with ecstasy and thus assumed the liquid state of the waters of Radha-kunda, and in the same way when Krsna saw Radha He also melted in ecstasy and became the waters of Syama-kunda. In this way these two lakes bear the names and qualities of the divine couple.<br>

                      35 Out of great kindness to the people, so they could directly taste Their sweetness, Radha and Krsna have become these two lakes. Shining with happiness, the devotees bathe in these two lakes.<br>

                      36 I think these two lakes are the divine couple's love. They who are fortunate bathe there. Because bathing there is like bathing in Their transcendental love, these two lakes bear the names of the divine couple.</p>

                    <p>Sri Giriraja-Govardhana ki &#8211; Jai!</p>

                </div>

                <!--#include file="_footer.inc" -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_foot.inc" -->
</body>
</html>

