
<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>How to Register</title>

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="register" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                    How to Register
                </div>

                <div>
                    <p  style='text-align:justify'><span>If you plan to join the retreats this year in Govardhana,
<a href="https://FORMS.GLE/T3cZYb6noRrSmctY9" style="color:blue;" target="_blank">please pre-register on this link.
</span></a></p>

                       <p>
                     The registration form with accommodation and other options will be released by the end of July or early August. For any further queries, please write to <a href="mailto:retreats@vihe.org">retreats@vihe.org</a>.
                       </p>
                    </p>
                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
