<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Home</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="index" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">
                    <div class="page-title">
                        Welcome to Govardhana and Holy Name Retreat!
                    </div>

                    <div>

                        <p>
                            Dear devotees, please accept our humble obeisances. All glories to Srila Prabhupada!
                        </p>

                        <p class="header">
                            Holy Name Retreat (Japa & Kirtana)
                        </p>

                        <p>
                            On behalf of the teachers, His Holiness Sacinandana Swami and His Grace Bhurijana Prabhu, we heartily invite you to take part in this wonderful week of hearing and chanting of the Holy Names. Our residence will be at the foot of Govardhan Hill. From there we may travel short distances for outdoor chanting of japa and kirtanas. We will gather to chant 64 rounds and have an inspirational readings. Classes enhancing our understanding of and practice of the chanting of the Holy Names will be held during some of the time. But since the main purpose of the retreat is to work on our chanting, lots of the time will be spent doing japa. We invite all serious practitioners to come and experience chanting in the Holy Dhama in the association of all the devotees. The Retreat includes daily evening kirtanas as well as an entire day dedicated to kirtana. The Holy Name Retreat is open to devotees aged 14 and up, as we strive to maintain a serene and meditative atmosphere.
                        </p>

                        <p class="subheader">
                            This year the VIHE annual Holy Name Retreat (Japa & Kirtana) will not be organized. Instead we will have a 4 day online Govardhana Retreat from January 2-6, 2021. To register for the retreat, click <a target="_blank" href="https://forms.gle/2vUcb3DF3a9EXhGx7">here</a>.
                        </p>

                        <p>
                           For any information, please write to retreats@vihe.org
                        </p>

                        <p><iframe width="853" height="480" src="https://www.youtube.com/embed/DPrAsTw7tvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

                        <p>
                            To get further insights of the Holy Name Retreat, please visit our <a href="https://photos.app.goo.gl/u1GuSjGhvDMShPZS9" target="_blank">photogallery</a>. The recordings of the previous years&#8217; retreats are available from the <a href="/audio_lectures.html" target="_blank">VIHE Audio Ministry</a> webpage.
                        </p>

                        <hr/>

                        <p class="header">Govardhana Retreat</p>

                        <p>
                            Every year at the end of month Kartik VIHE holds the annual Govardhan Retreat. Devotees from all around the world come to participate in a wonderful week of Krsna-katha, ecstatic kirtans and many breathtaking darsanas of Giriraja Govardhana.  The sublime atmosphere of the sacred Govardhana Hill  enables those who live and preach outside of the Holy Dhama to immerse themselves in the magical world of Krsnas pastimes. We invite you to join us for this unique opportunity to enhance your devotional life and your preaching with an unforgettable experience, since we believe that staying at Giriraja&#8217;s lotus feet  while listening to krsna-katha is the perfection of human life.
                        </p>

                        <p class="subheader">
                            This year the VIHE annual Holy Name Retreat will not be organised. Instead we will have a 4 day online Govardhana Retreat from January 2-6, 2021. To register for the retreat, click <a target="_blank" href="https://forms.gle/2vUcb3DF3a9EXhGx7">here</a>.
                            <!-- This year the VIHE annual Govardhan Retreat will be held online on 2-6 January 2021. The speakers: The speakers: HH Sacinandana Svami, HG Bhurijana Dasa, HG Jagattarini Devi Dasi, HG Madhavananda Dasa -->
                        </p>

                        <p>
                            For any information, please write to retreats@vihe.org
                        </p>

                        <p>
                            <a href="gr.poster2021.jpg" target="_blank">Download Govardhana Retreat 2021 poster</a>
                        </p>

                       <br />
                       <p><iframe width="853" height="480" src="https://www.youtube.com/embed/Dj6on_dUOt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

                        <p>
                            To get a glimpse of Govardhan Retreat please visit <a href="https://photos.google.com/share/AF1QipNfaY2RP_dWfq-Famo0RtCUGKuN7bHykAtu-2f1ye0r2TsmAthi9hLfi351Xa7GcQ?key=bERaYUZMOXp0M3ByQmZHQUlhejNxOFZKX2NSQ0ZR" target="_blank">our photogallery</a>.
                            <br/><br/>
                            The recordings of the previous years&#8217; retreats are available from the <a href="/audio_lectures.html" target="_blank">VIHE Audio Ministry</a> webpage.

                            Please follow the development of our <a href="/retreat_centre.html" target="_blank">Govardhan Retreat Centre</a>
                        </p>

                        <p>
                            Sri Vrindavana Dhama ki-jaya! Sri Giriraj Govardhan ki-jaya! Hare Krishna.
                        </p>

                    </div>

                    <!--#include file="_footer.inc" -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

    <!--#include file="_foot.inc" -->

</body>
</html>
