<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhana and Holy Name Retreat - Home</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="index" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">
                    <div class="page-title">
                       The VIHE Winter Retreats
                    </div>

                    <div>

                        <p>
                         Every year after Kartika the VIHE holds the Holy Name Retreat and the Govardhana Retreat at the foot of Giriraja. The last two years we all met online. We are pleased to share that the retreats will resume at Govardhana this year. </p>
<p>
Holy Name Retreat: November 11 – 16, 2022<br /><br />
<img src="hnr22.jpg" alt="Holy Name Retreat 2022" style="width:600px;height:424px;">
<br /><br />
Govardhana Retreat: November 21 – 28, 2022<br /><br />
<img src="gr22.jpg" alt="Govardhana Retreat 2022" style="width:600px;height:424px;"><br /><br />
</p>

                        <p>
                            Join us for Krsna-katha, ecstatic Kirtanas and many breathtaking darsanas of Giriraja Govardhana. The sublime atmosphere of the sacred Govardhana Hill enables those who live and preach outside of the Holy Dhama to immerse themselves in the magical world of Krsna's pastimes. We invite you to join us for this unique opportunity to enhance your devotional life and preaching with an unforgettable experience. </p>

<p  style='text-align:justify'><span>If you plan to join the retreats,
<a href="https://FORMS.GLE/T3cZYb6noRrSmctY9" style="color:blue;" target="_blank">please pre-register on this link.
</span></a></p>

<p>
The registration form with accommodation and other options will be released by the end of July or early August. For any further queries, please write to retreats@vihe.org
</p>


<p class="subheader">Glimpses of previous retreats:</p>



<p><iframe width="853" height="480" src="https://www.youtube.com/embed/DPrAsTw7tvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

                       
<p><iframe width="853" height="480" src="https://www.youtube.com/embed/Dj6on_dUOt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


<p>The recordings of the previous years&#8217; retreats are available on the <a href="/audio_lectures.html" target="_blank">VIHE Audio Ministry</a> webpage.</p>

<p>Please follow the development of our <a href="/retreat_centre.html" target="_blank">Govardhana Retreat Centre</a></p>

<p>
Sri Vrndavana Dhama ki-jaya! Sri Giriraja Govardhana ki-jaya! Hare Krsna.
</p>

<p class="subheader">Contacts:</p>

<p>
VIHE c/o ISKCON Goshala,<br />
Parikrama Marg, <br />
Raman Reti, Vrindavan,<br />
Mathura Dist., 281121,<br />
U.P., India<br /><br />
Phone: +91 89799 43134<br />
Email: retreats@vihe.org<br />
Facebook: https://www.facebook.com/vihe.vrindavan/  
</p>

</div>

                    <!--#include file="_footer.inc" -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

    <!--#include file="_foot.inc" -->

</body>
</html>
