<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhana and Holy Name Retreat - Home</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="index" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">
                    <div class="page-title">
                       The VIHE Winter Retreats
                    </div>

                    <div>

                        <p>
                          Every year after Kartika the VIHE holds the Holy Name Retreat and the Govardhana Retreat at the foot of Giriraja. Last January we all met at the online Govardhana Retreat. This time we will again meet online on 5-9 January 2022 so that you may start the new year with Giriraja's blessings. We hope to resume the onsite retreats after the month of Kartika in 2022, if the situation in the world permits. </p>

                        <p>
                            Join us for Krsna-katha, ecstatic Kirtanas and many breathtaking darsanas of Giriraja Govardhana. The sublime atmosphere of the sacred Govardhana Hill enables those who live and preach outside of the Holy Dhama to immerse themselves in the magical world of Krsna's pastimes. We invite you to join us for this unique opportunity to enhance your devotional life and preaching with an unforgettable experience. </p>
 <p class="header">
                           VIHE Online Govardhana Retreat
                        </p>

                        <p class="subheader">
                         The dates:</p>
<p>
                         January 5-9, 2022 (2-6.15pm IST)
 </p>
                        <p class="subheader">
                         Speakers:</p>
<p>
                         H.H. Sacinandana Svami<br />
H.G. Bhurijana Dasa<br />
H.G. Jagattarini Devi Dasi<br />
H.G. Madhavananda Dasa
 </p>
                        <p class="subheader">
                        The program:</p>
<p>
• 3 daily sessions of Krsna-katha<br />
• Images from Vraja<br />
• Q&A

 </p>
                        <p class="subheader">
                        Language:</p>
<p>
                      English with translation to Russian, Hindi, Chinese, Spanish, Tamil. </p>
                        <p class="subheader">
                        Registration:</p>
<p>                   
                           Register by <a href="https://forms.gle/N6JoYJKFy97MW49s8" target="_blank">filling the form here:</a> </p>

<p>  
Watch the live conversation on the 27th of December <a href="https://www.youtube.com/watch?v=bis4ZZhCjGs" target="_blank">here:</a> </p>
<p>LIVE BROADCAST:</p>
<p>  Europe CET (GMT +1)  <a href="2022GRSchedule.Europe.docx" target="_self">Click to download the schedule</a> <br />
Moscow, Russia (GMT +3)   <a href="2022GRSchedule.Moscow.docx" target="_self">Click to download the schedule</a><br />
India IST (GMT +5.3)   <a href="2022GRSchedule.India.docx" target="_self">Click to download the schedule</a><br />
Perth, Western Australia (GMT +8.45)  <a href="2022GRSchedule.Perth.docx" target="_self">Click to download the schedule</a><br />
Melbourne, Australia (GMT +11)  <a href="2022GRSchedule.Melbourne.docx" target="_self">Click to download the schedule</a></p>
<p>DELAYED BROADCAST:</p>
<p>  LA, USA (GMT -8)  <a href="2022GRSchedule.LA.docx" target="_self">Click to download the schedule</a> <br />
New York, USA (GMT -5) <a href="2022GRSchedule.NY.docx" target="_self">Click to download the schedule</a><br />
Brazil (GMT -3)  <a href="2022GRSchedule.Brazil.docx" target="_self">Click to download the schedule</a>
</p>
   <p class="subheader">
                        LISTEN TO ONLINE RETREAT 2022 RECORDINGS:</p>
<p>  <a href="01Day1-Entering.Retreat.mp3" target="_blank">DAY1 Entering the Retreat with H.H. Sacinandana Svami, H.G. Bhurijana Dasa, H.G. Jagattarini Devi Dasi</a><br />
 <a href="02Day1-Classes.Introduction.mp3" target="_blank">DAY1 Presentation of classes with H.H. Sacinandana Svami, H.G. Bhurijana Dasa, H.G. Jagattarini Devi Dasi, H.G. Madhavananda Dasa</a><br />
 <a href="03Day1-Madhavananda.Pr.mp3" target="_blank">DAY1 Giriraja Rasa with Krsna (Govardhana-vasa-prathana-dasakam, text 9) by H.G. Madhavananda Dasa</a>
</p>

<p>  <a href="04Day2-Bhurijana.Pr.mp3" target="_blank">DAY2 Tests Along the Path: Sanatana Gosvami Mysterious Journey from Vrndavana to Vrndavana by H.G. Bhurijana Dasa</a><br />
 <a href="05Day2-Sacinandana.Svami.mp3" target="_blank">DAY2 Cultivating Divine aspirations - Following Srila Rupa Gosvami writings by H.H. Sacinandana Svami</a><br />
 <a href="06Day2-Jagattarini.Mata.mp3" target="_blank">DAY2 Vrndavana - The most dangerous place in the world by H.G. Jagattarini Devi Dasi</a><br />
 <a href="07Day2-Conclusion.mp3" target="_blank">DAY2 Conclusion by H.H. Sacinandana Svami</a>
</p>

<p>  <a href="08Day3-Bhurijana.Pr.mp3" target="_blank">DAY3 Tests Along the Path: Sanatana Gosvami Mysterious Journey from Vrndavana to Vrndavana by H.G. Bhurijana Dasa</a><br />
 <a href="09Day3-Sacinandana.Svami.mp3" target="_blank">DAY3 Cultivating Divine aspirations - Following Srila Rupa Gosvami writings by H.H. Sacinandana Svami</a><br />
 <a href="10Day3-Jagattarini.Mata.mp3" target="_blank">DAY3 Vrndavana - The most dangerous place in the world by H.G. Jagattarini Devi Dasi</a><br />
 <a href="11Day3-Conclusion.and.Kirtan.mp3" target="_blank">DAY3 Conclusion and kirtan by H.H. Sacinandana Svami</a>
</p>

<p>  <a href="12Day4-Bhurijana.Pr.mp3" target="_blank">DAY4 Tests Along the Path: Sanatana Gosvami Mysterious Journey from Vrndavana to Vrndavana by H.G. Bhurijana Dasa</a><br />
 <a href="13Day4-Sacinandana.Svami.mp3" target="_blank">DAY4 Cultivating Divine aspirations - Following Srila Rupa Gosvami writings by H.H. Sacinandana Svami</a><br />
 <a href="14Day4-Jagattarini.Mata.mp3" target="_blank">DAY4 Vrndavana - The most dangerous place in the world by H.G. Jagattarini Devi Dasi</a><br />
 <a href="15Day4-Conclusion.and.Kirtan.mp3" target="_blank">DAY4 Conclusion and kirtan by H.H. Sacinandana Svami</a>
</p>

<p>  <a href="16Day5-Questions.and.Answers.mp3" target="_blank">DAY5 Questions and Answers with H.H. Sacinandana Svami, H.G. Bhurijana Dasa, H.G. Jagattarini Devi Dasi</a><br />
 <a href="17Day5-Closing.mp3" target="_blank">DAY5 Closing words with H.H. Sacinandana Svami, H.G. Bhurijana Dasa, H.G. Jagattarini Devi Dasi, H.G. Madhavananda Dasa</a><br />
 <a href="18Day5-Concluding.Kirtana.mp3" target="_blank">DAY5 Concluding Kirtana with H.H. Sacinandana Svami and H.G. Bhurijana Dasa</a><br />
</p>

<p>If you have any questions, please email us on retreats@vihe.org or contact +91 88690 53796 (12-6pm IST).</p>

                 </p>
<p  style='text-align:justify'><span>
                <a href="gr-poster.jpg" target="_blank">Download VIHE Govardhana Retreat poster</a><br /><br />
<p  style='text-align:justify'><span>
                <a href="gr-conversation.jpg" target="_blank">Download the live conversation poster</a><br /><br />



                      <p class="header">
                           VIHE Holy Name Retreat 2022
                        </p>

                        <p class="subheader">
                         The dates:</p>
<p>
                      tentatively planned after the month of Kartika in 2022, if the situation in the world permits.
 </p>
                        <p class="subheader">
                         Speakers:</p>
<p>
                          H.H. Sacinandana Svami and H.G. Bhurijana Dasa. </p>
                        <p class="subheader">
                        The program:</p>
<p>
•	Chanting techniques.<br />
•	Group chanting sessions<br />
•	4 hour Kirtana<br />
•	64 rounds at Ter Kadamba<br />
•	Krsna-katha
 </p>
                        <p class="subheader">
                        Language:</p>
<p>
                      English with translation to Russian and other languages. </p>
                        <p class="subheader">
                        Registration:</p>
<p>
                           To register for the retreats, please email us on retreats@vihe.org and fill the pre-registration form. </p>

  <p class="header">
                          VIHE Govardhana Retreat 2022
                        </p>

                        <p class="subheader">
                         The dates:</p>
<p>
                       tentatively planned after the month of Kartika in 2022, if the situation in the world permits.
 </p>
                        <p class="subheader">
                         Speakers:</p>
<p>
                          H.H. Sacinandana Swami<br />
H.G. Bhurijana Dasa<br />
H.G. Jagattarini Devi Dasi<br />
H.G. Madhavananda Dasa<br />
H.G. Adi Purusa Dasa
 </p>
                        <p class="subheader">
                        The program:</p>
<p>
•	4 daily sessions of Krsna-katha<br />
•	Govardhana Parikrama<br />
•	Ecstatic kirtanas

 </p>
                        <p class="subheader">
                        Language:</p>
<p>
                      English with translation to Russian and other languages. </p>
                        <p class="subheader">
                        Registration:</p>
<p>
                           To register for the retreats, please email us on retreats@vihe.org and fill the pre-registration form. </p>

      <p class="subheader">
                       Glimpses of previous retreats:</p>



                        <p><iframe width="853" height="480" src="https://www.youtube.com/embed/DPrAsTw7tvw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

                       
                       <p><iframe width="853" height="480" src="https://www.youtube.com/embed/Dj6on_dUOt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

                       
                        <p>
                     
                            The recordings of the previous years&#8217; retreats are available on the <a href="/audio_lectures.html" target="_blank">VIHE Audio Ministry</a> webpage.
                        </p>

                        <p>
                            Please follow the development of our <a href="/retreat_centre.html" target="_blank">Govardhana Retreat Centre</a>

                        </p>

                        <p>
                            Sri Vrndavana Dhama ki-jaya! Sri Giriraja Govardhana ki-jaya! Hare Krsna.
                        </p>

    <p class="subheader">
                       Contacts:</p>

<p>
VIHE c/o ISKCON Goshala,<br />
Parikrama Marg, <br />
Raman Reti, Vrindavan,<br />
Mathura Dist., 281121,<br />
U.P., India<br /><br />
Phone: +91 89799 43134<br />
Email: retreats@vihe.org<br />
Facebook: https://www.facebook.com/vihe.vrindavan/  

</p>

                    </div>

                    <!--#include file="_footer.inc" -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

    <!--#include file="_foot.inc" -->

</body>
</html>
