<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - Our Teachers</title>

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="ourteachers" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                    Our Teachers
                </div>

                <div>

                    <div class="teacher-img">
                        <img src="./img/teachers/sachinandanam.jpg" width="150" height="146" align="left">
                    </div>

                    H.H. Sacinandana Swami left home only 16 years old to meet devotees and to become a disciple of Srila Prabhupada in 1971. Maharaja&#8217;s first years in ISKCON were spent by translating Srila Prabhupada&#8217;s books from English to German and later he joined the book distribution party in Germany. Desiring to deepen his preaching, Maharaja soon started to visit people, who already got our books to encourage them to actively practice Krsna consciousness at home. This was the beginning of a nama-hatta congregational preaching in Germany and the North European area. Later this developed into a big preaching programs with the Gauranga Bhajan Group and the Nityananda Bhajan Group. Sometimes preaching to thirty thousand people, Sacinandana Swami would say: &quot;My heart dances in joy when I see so many people taking to Krishna Consciousness.&quot; Later Maharaja was instrumental in helping to start different farm communities and projects, like the Goloka Dhama project in Europe.<br> In the last ten years H.H. Sacinandana Swami dedicated more of his time to inner spiritual life, seeking inspiration and higher guidance on extended pilgrimages and spiritual retreats. He visited Vrindavan many times and organized a number of retreats, devoted to the Holy Name. He also visited many holy places, such as in Himalayas, South India, etc. Always a preacher, Sacinandana Swami shared many of his insights in his books: &quot;Nectarean Ocean of the Holy Name&quot;, &quot;The Gayatri Book&quot; and &quot;The Way of the Great Departure&quot;.Beside teaching in Bhaktivedanta College (Radhadesh, Belgium), Maharaja's new emphasis lies on a unique preaching concept of presenting the culture of Krishna Consciousness to the people in Veda Academy. It has already been started in eight countries and soon is to be spread to many others.
                </div>

                <div>
                    <div class="teacher-img">
                        <img src="./img/teachers/bhurijanapr.jpg" width="150" height="147" align="left">
                    </div>

                    H.G.Bhurijana Prabhu first met Srila Prabhupada at 26 Second Ave, and was initiated by Srila Prabhupada in 1968. After preaching in Japan for about a year, in 1970 he opened ISKCON's first Hong Kong center. Throughout the early 1970s Srila Prabhupada would many times meet with Bhurijana during Srila Prabhupada's tours of the Far East: Hong Kong, Japan, Philippines, Fiji, Australia and New Zealand. In his last meeting in 1976, Bhurijana Prabhu was requested by Srila Prabhupada to help develop the educational system. Since then he has taught both academic and ashrama courses in Gita-Nagari and Vrindavana and has conducted several teacher training courses in Vrindavana. In 1987, in Vrindavana, he began the Vaisnava Institute for Higher Education, where he has taught courses in teaching, writing, and the main books of Srila Prabhupada -- Bhagavad-gita As It Is, Srimad-Bhagavatam, The Nectar of Devotion, The Nectar of Instruction, and Sri Isopanisad. To fulfill Srila Prabhupada's desire, he is now organizing degree courses on Srila Prabhupada's books, especially the first six cantos of the Bhagavatam. No wonder that his main topic at Govardhan Retreat is Bhagavatam. He has written several books, including The Art of Teaching, Surrender Unto Me (in-depth study of the Bhagavad-gita), Studying Srimad-Bhagavatam, My Glorious Master and &quot;Unveiling His Lotus Feet&quot; - in-depth study of the 1st and 2nd Cantos of Srimad-Bhagavatam.

                </div>

                <div>
                    <div class="teacher-img">
                        <img src="./img/teachers/mjagattarini.jpg" width="150" height="152" align="left">
                    </div>

                    H.G. Jagattarini Mataji joined ISKCON and first met Srila Prabhupada in America in 1970 (many of you may have heard of this famous story of a successful actress becoming a devotee). Through her connections with the Movement, Jagattarini met her husband, Bhurijana Prabhu, and together they pioneered a nama-hatta center in Hong Kong. Srila Prabhupada encouraged her to use artistic talents in attracting people to the cultural side of devotional service. Some years later this manifested during her stay at the Gita Nagari farm (USA) as a series of puppet shows, later presented for worldwide viewing by ITV. In 1983 she moved with her family to Sri Vrindavan Dhama, and they spent the next 13 years teaching in Bhaktivedanta Gurukula. In her spare time, she regularly journeyed by local transport to significant holy places throughout the outlying Braja District. After touring the sacred land for years Jagattarini Mataji amassed a treasury of realizations about different pastime places in Sri Vrindavan Dhama and developed a deep attachment to them. Since 1996 Jagattarini, Bhurijana and family have been based in Perth, where Bhurijana Prabhu lectures on the Bhagavatam. Jagattarini Mataji continues to draw her artistic inspiration from Vraja Dhama, and since 1998 she has been working with a variety of mediums producing miniature three-dimensional diorama exhibits, depicting Krishna's nectarean Vrindavan pastimes. She is establishing these dioramas within a project known as Gopinatha Dhama, which is meant to attract souls to the glories of Sri Vrindavan Dhama.

                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
