<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Registration</title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="index" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">
                    <div class="page-title" >
                        Online Govardhana Retreat 2022 Registration Form
                    </div>

                    <div>
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdzbYB8tKLYSVtz2SMuK4yM74tWWme2aBFgXOfxrdvG4PQIrA/viewform?embedded=true" width="840" height="4810" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>

                    <!--#include file="_footer.inc" -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

    <!--#include file="_foot.inc" -->

</body>
</html>
