<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee" />
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE" />

    <title>Govardhan Retreat - Schedule</title>

</head>
<body>

    <!--#include file="_header.inc" -->

    <div class="container">
        <div class="row">
            <!--#set var="curPage" value="schedule" -->
            <!--#include file="_sidebar.shtml" -->

            <div class="col">

                <div class="page-title">
                    Schedule
                </div>

                <div>
                    <p><strong>Here is the schedule of the usual day at a Govardhan Retreat.</strong></p>
                    <p>
                        The day at Govardhan Retreat begins when devotees get up in their respective places and chant their japa rounds.
                    </p>
                    <p>
                        7AM - we all assemble in the Temple room for a short morning program - mangala arati, Srila Prabhupada's Guru-puja and usually a short class on the Holy Dhama.
                    </p>
                    <p>
                        8.15AM - breakfast. After that devotees go to the place at the feet of Govardhan Hill, where we have daily classes.
                    </p>
                    <p>
                        10AM -1PM - morning class (with a 15 min. break).
                    </p>
                    <p>
                        1.30PM - lunch. After that there is a free time to rest till the evening class.
                    </p>
                    <p>
                        3PM - 5PM - evening class near Govardhan.
                    </p>
                    <p>
                        6PM - 8PM - readings of Caitanya-bhagavata by Bhurijana Prabhu with sweet kirtans by different devotees or other cultural programs in Dvaraka Dham.
                    </p>
                    <p>
                        8PM - evening prasadam of milk and a snack. After that all devotees depart to their quarters to rest.
                    </p>
                    <p>
                        This is a simple but delightful program of full absorption in Krsna consciousness and Krsna-katha, which can work miracles on our hearts.
                    </p>
                    <p>
                        During the Retreat 2008 the classes were delivered by H.H. Sacinandana Swami, H.G. Bhurijan Prabhu, H.G. Jagattarini Mataji, and H.G. Madhavananda Prabhu. We had a wonderfull parikrama to Ter Kadamba (bhajan kutir of Srila Rupa Goswami at Nandagram).
                    </p>
                    <p>
                        On the last day after a festive closing session near Govardhan, full of heartfelt realizations, surprises and spontaneous kirtan there was a special feast in Dvaraka Dham. After that devotees boarded buses to return to Vrindavan around 6PM.
                    </p>

                    <hr />

                    <p>
                        <strong>Below is the  schedule of Holy Name Retreat 2006 to give you an idea:</strong>
                    </p>
                    <p>
                        <em>November 10: Arrival day</em><br />
                        Welcome and introductory ceremony + speeches by teachers<br />
                        Evening: Short kirtana <br />
                        <em>November 11: First retreat day</em><br />
                        Morning program + Class by Sacinandana Swami<br />
                        Morning session: Class by Sacinandana Swami<br />
                        Afternoon session: Class by Sacinandana Swami<br />
                        Evening: Kirtan or &ldquo;light&rdquo; program<br />
                        <em>November 12: Second retreat day</em><br />
                        Morning program + perhaps a class by Sacinandana Swami<br />
                        Japa (preferably in Radha Gardens or Ter Kadamba)<br />
                        Evening: Kirtan or &ldquo;light&rdquo; program<br />
                        <em>November 13: Third retreat day</em><br />
                        Morning program + class by Bhurijana Prabhu<br />
                        Morning session: Class by Bhurijana Prabhu<br />
                        Afternoon session: Class by Bhurijana Prabhu<br />
                        Evening: Kirtan or &ldquo;light&rdquo; program<br />
                        <em>November 14: Fourth retreat day</em><br />
                        Morning program + perhaps a class by Bhurijana Prabhu<br />
                        Japa (preferably in Radha Gardens or Ter Kadamba)<br />
                        Evening: Kirtan or &ldquo;light&rdquo; program <br />
                        <em>November 15: Departure day </em><br />
                        Morning program<br />
                        Speeches by teachers <br />
                        Concluding ceremony
                    </p>
                    <p>
                        Note: Some of the classes may be conducted outdoor in Radha Gardens, Ter Kadamba or other nearby locations.
                    </p>
                </div><!-- /content -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- / #container -->

    <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
