<!--#include file="_head.inc" -->

    <meta name="keywords" content="Govardhan, retreat, Giriraja, ISKCON, Vrindavan, VIHE, Krishna, Krsna, Bhagavatam, Holy Name, Dhama, kirtan, devotee">
    <meta name="description" content="A web site about Govardhan and Japa retreats, conducted every Kartik by VIHE ">

    <title>Govardhan Retreat - </title>

</head>
<body>

        <!--#include file="_header.inc" -->

        <div class="container">
            <div class="row">
                <!--#set var="curPage" value="index" -->
                <!--#include file="_sidebar.shtml" -->

                <div class="col">
                    <div class="page-title">
                        Welcome to Govardhan and Holy Name Retreat!
                    </div>


                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- / #container -->

        <!--#include file="_footer.inc" -->

    <!--#include file="_foot.inc" -->
</body>
</html>
