$font-path = '../fonts/Catull.woff'

@font-face {
    font-family: 'Catull Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Catull Regular'), url($font-path) format('woff');
}

$font-page-title = 'Catull Regular'

$header-bg =  #6f513a
$card-bg = #d6b296

nav
    margin-top 15px

    .nav-link
        margin 2px
        padding 2px
        height 20px
        color $header-bg
        line-height 1
        font-size 12px

        &:hover
            background-color $header-bg
            color #fff

        &.active
            font-weight bold
            img.iconic
                width 12px
                height 12px

        img.iconic
            fill $header-bg
            stroke $header-bg
            width 8px
            height 8px

            &.home
                width 10px
                height 10px

    .courses
        .card
            max-width 10rem
            border 2px solid $header-bg
            background-color $card-bg
            .card-body
                padding 1em .5em
                text-align center
                a
                    color #000
                .card-text
                    font-size 12px

/* global */
a
    text-decoration none
a:link, a:visited, a:active, a:hover
    color $header-bg
a:hover
    font-weight bold
    text-decoration none

hr
    margin 15px 0

/* Header */
#header-wrapper
    background-color $header-bg
    /*
    background-image url(/img/logo_md.png)
    background-repeat no-repeat
    */

/* content well */
.page-title
    margin 10px 0 25px
    padding-top 20px
    padding-left 108px
    color $header-bg
    font-family $font-page-title
    font-size 2em
    background url(/img/giridhari.png) left center no-repeat
    height 90px
    width auto

p.header, p.subheader
    font-weight bold
    color #933

p.header
    font-size 1.25em
p.subheader
    font-style italic

.teacher-img
    margin-top 25px
    img
        margin-right 15px

.gallery-link
    font-family $font-page-title
    font-size 1em

.gallery-current
    font-family $font-page-title
    font-size 1.5em

/* footer */
.footer
    border-top-width 0px
    text-align center
