.listing {
  margin-top: 10px;
}

.listing .author a, .listing .folder a {
  color: #498e34
}

.author, .folder {
  margin-top: 5px;
  color: #498e34;
  font-weight: bold;
}

.title {
  color: #498e34;
}

.description {
  margin-left: 15px;
}

.heading {
  margin: 5px 15px;
  font-size: 12px;
  font-weight: bold;
}

.heading a {
  color: #666;
}

.subheading {
  margin-left: 25px;
}

.album {
  margin-left: 15px;
}

ul.tracks {
  padding: 5px 25px;
}

li.track, li.album_item, li.section_track {
  list-style: none;
}

.level3 {
  margin-left: 30px;
}

.audio_div {
  /*display: none;*/
  height: 100px;
  width: 300px;
  border: 1px solid red;
}

.oi-star {
    /* color: green; */
    color: magenta;
    font-size: 1.25em;
}
