*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #F8F5EC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #A19D9A;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #3E3530;
}

h1 { font-size: 2em; }
h2 { font-size: 2.8em; }
h3 { font-size: 1.6em; }

p, ul, ol {
    margin-top: 0;
    /* line-height: 180%; */
}

a {
    text-decoration: none;
    color: #3E3530;
}

a:link { color: #000000; }
a:visited { color: #000066; }
a:hover { color: #FF0000; }
a:active { color: #FF0000; }

.mp3_link audio {
    margin-bottom: 5px;
}

ol.list-paren {
    counter-reset: list;
}

ol.list-paren > li {
    list-style: none;
}

ol.list-paren > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

.style1 {
    font-family: "Myriad Pro", Verdana;
    font-size: 20px;
    color:#738b91;
    margin-top:15px;
    margin-bottom:15px;
}
.style2, .style2 a {
    color: #498e34;
    font-weight: bold;
}

.style5 {color: #000066}
.style6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: #000099;
    font-weight: bold;
}
.style10 {color: #CC0000}
.style13 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #660000;
    font-weight: bold;
}
.style16 {
    color: #FF0000;
    font-weight: bold;
    font-size: 24px;
}


.style17 {
    color: #990000;
    font-size: 18px;
    font-weight: bold;
}

.style18 {
    font-size: 12px;
    font-weight: bold;
}

.style19 {
    display: block;
    margin: 10px 0 0 20px;
    font-size: 12px;
    font-weight: bold;
}

.style20 {
    color: #498e34;
    font-weight: bold;
}
.style21 {color: #498e34}

.style22 {
    font-family:"Kruti Dev 010";
        font-size:18px;
    color:#3E3530;
    margin-top:15px;
    margin-bottom:15px;
}
.style23 {
    font-family:"Kruti Dev 010";
        font-size:18px;
    color:#498e34;
    margin-top:15px;
    margin-bottom:15px;
}
.style24 {
    font-family:"Kruti Dev 010";
        font-size:30px;
    color:#738b91;
    margin-top:15px;
    margin-bottom:15px;
}

.style25 {
  font-family: "verdana, sans-serif";
  font-size: 20px;
  color: #738b91;
  margin-top: 15px;
  margin-bottom: 15px;
}


.section_heading {
    display: block;
    margin: 10px 0 0 25px;
    font-size: 18px;
}

.section_listing {
    margin-left: 50px;
    font-size: 12px;
    display: block;
    color:#5F6364;
}

.section_listing_items {
    position: relative;
    left: 75px;
    font-size: 12px;
    color:#5F6364;
}


.hide { display: none; }


#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header-wrapper {
    height: 162px;
    background-color: #0A090C;
    background-image: url(/img/top_bg.jpg);
    background-repeat: repeat-x;
    }

#header {
    width: 1004px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    height:162px;
    background-image:url(/img/header1.jpg);
    background-repeat: no-repeat;
}

.top_head{
        width:100%;
        height:86px;
        }

.log_out_butt{
        width:76px;
        height:20px;
        float:right;
        margin-top:8px;
        margin-right:5px
}

/* Logo */

#logo {
    margin: 0;
    padding: 0;
    color: #000000;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
}

#logo h1 {
    letter-spacing: -1px;
    text-transform: lowercase;
    font-size: 3.8em;
}

#logo p {
    margin: 0;
    padding: 0px 0 0 2px;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #FFFFFF;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FFFFFF;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 22px;
    border: none;
    background: #B9B9B9;
    color: #000000;
}

/* Menu */

#menu {
    width: 980px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 50px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    width: 130px;
    height: 30px;
    margin-right: 1px;
    padding: 9px 0px 0px 0px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
}

#menu .current_page_item a {
    padding-left: 0;
}

/* Page */

#page {
    width: 931px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    background-color:#ffffff;
}

#page-bgtop {
    padding: 20px 0px;
}
/* Content */

#content {
    float: left;
    width: 650px;
    padding: 0px 0px 0px 0px;
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px dotted #E7E2DC;
}

.post .title {
    height: 41px;
    padding: 7px 0px 0px 30px;
    letter-spacing: -.5px;
}

.post .title a {
    color: #3E3530;
    border: none;
}

.post .meta {
    margin-bottom: 30px;
    padding: 0px 30px 0px 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .entry {
    padding: 0px 30px 20px 30px;
    padding-bottom: 20px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 280px;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    color: #787878;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px dotted #E7E2DC;
    margin: 0px 30px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 38px;
    padding-left: 30px;
    letter-spacing: -.5px;
    font-size: 1.8em;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
    color: #A19D9A;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #8A8A8A;
}

/* Calendar */


#calendar_wrap { padding: 20px; }
#calendar table { width: 100%; }
#calendar tbody td { text-align: center; }
#calendar #next { text-align: right; }

/* Footer */

.footer_wrap {
    text-align: center;
}

#footer {
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    background: #F1EDE4;
    border-top: 1px solid #EBE8DF;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    color: #A0A0A0;
}

#footer a {
    color: #8A8A8A;
}

.content_header{
        width:821px;
        height:35px;
        background-color:transparent;
        margin:0 auto;
}

/* main_site */

.left_nav_top_bg {
    background-image: url(/img/left_nav_top_bg.jpg);
    height: 5px;
    width: 212px;
    background-repeat: no-repeat;
    overflow:hidden;
}
.left_nav_bg {
    background-image: url(/img/left_nav_bg.jpg);
    height: inherit;
    width: 194px;
    background-repeat: repeat-y;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
}
.left_nav_bottom_bg {
    background-image: url(/img/left_nav_bottom_bg.jpg);
    height: 5px;
    width: 212px;
    background-repeat: no-repeat;
}
.top_nav_bar_wrapper {
    background-image: url(/img/top_nav_bg.jpg);
    background-repeat: repeat-x;
    height: 34px;
    width: 100%;
}
.top_nav_bar {
    height: 34px;
    width: auto;
    margin:0 auto;
    margin-left:50px;


}

.top_nav_button {
    float: left;
    height: auto;
    width: auto;
    font-family: Verdana, Arial, Helvetica, Times New Roman, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #454849;
    padding-top: 10px;
    padding-right: 6px;
    padding-left: 6px;
    font-weight: 600;
}
.nav_button_gap {
    background-image: url(/img/nav_button_gap.jpg);
    height: 34px;
    width: 2px;
    float: left;
}
/* green_left */
.green_left_nav_top_bg {
    background-image: url(/img/green_top_bg.jpg);
    height: 5px;
    width: 212px;
    background-repeat: no-repeat;
    background-color:#D9EBAB;
    margin-top:7px;
    overflow:hidden;
}
.green_left_nav_bg {
    background-image: url(/img/green_bg.jpg);
    height: inherit;
    width: 176px;
    background-repeat: repeat-y;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right:18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #434E42;
}
.green_left_nav_bottom_bg {
    background-image: url(/img/green_bottom_bg.jpg);
    height: 5px;
    width: 212px;
    background-repeat: no-repeat;
}
.updated_date {font-size: 11px}
.footer {
    height: auto;
    width: 894px;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #999999;
    padding-left:10px;
    padding-top:5px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-bottom: 32px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5C594E;
}
/*dgdfg*/
.page {
    width: 931px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    background-color:#ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}
.left_sidebar{
    width:212px;
    height:inherit;
    margin-left:12px;
    margin-top:13px;
    float:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom:10px;
    }

.center_well_payment,
.center-well-ecsmandate {
    background-color: #fff;
    height: inherit;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #5f6364;
    padding-bottom: 35px;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

.entry{
    width:645px;
    height:inherit;
    float:left;
    padding-left:15px;
    padding-right:39px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#5f6364;
    padding-bottom: 35px;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}

.page_title{
    width:inherit;
    height:inherit;
    font-size:27px;
    color:#738b91;
    margin-top:30px;
    margin-bottom:28px;
    font-family: "Myriad Pro", Verdana;
}

.right {
  text-align: right;
  margin: -10px 0 25px;
}

.form-control, .form-control-sm {
    width: 95%;
}

.help-block {
    color: red;
    display: none;
}

.section-person {
    padding-left: 15px;
}
.section-person,
.section-address,
.section-bankinfo,
.section-acctinfo {
    padding-left: 15px;
/*    margin-bottom: 15px; */
}

.section-address {
    background-color: #e6e6e6;

}
.section-bankinfo {
    background-color: #fafde3;
}

.section-acctinfo {
    background-color: #f1fdf3;
}

.row-name {
    padding-top: 10px;
}

/*.row-email {}*/
.row-nationality {
    padding-bottom: 10px;
}

.row-address, .row-bankinfo, .row-acctinfo {
    padding-top: 10px;
}

/*.row-country {}*/
/*.row-city {}*/

#countries_phone, #phone {
    display:inline;
    /*
    height:15px;
    width:40%;
    */
    /* border-color:#555; */
}

#ecsmandate-form {
    display: none;
}

#Customer_DebitAmount {
    padding-right: 0;
    width: 96%;
}

.terms-conditions {
    margin: 10px;
}

.terms-conditions ol li {
    margin-top: 5px;
}

ul#terms-conditions,
ul#privacy-policy,
ul#refund-policy {
    padding-left: 0;
}
ul#terms-conditions > li,
ul#privacy-policy > li,
ul#refund-policy > li
{
    list-style: none;
}

ul#terms-conditions > li h2,
ul#privacy-policy > li h2,
ul#refund-policy > li h2,
div#cookie-policy h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 15px 0;
}

ul#terms-conditions > li p,
ul#privacy-policy > li p,
ul#refund-policy > li p
{
    margin: 10px 0;
}
.inline-address {
    margin: 5px 10px;
}
